<div class="contenedor">
    <div class="nosotros d-flex">
        <img src="../../../../assets/img/somos.png" alt="quienes somos">
        <div class="texto">
            <h2>QUIENES SOMOS</h2>
            <p>Cómo formamos artistas
    
                El equipo de nuestro sello discográfico utiliza los datos de consumo de música que recibimos en nuestro
                servicio para descubrir, firmar y formar estrellas emergentes. Nos asociamos con artistas en los que creemos
                con acuerdos flexibles, que ofrecen servicios como planning estratégico, marketing, financiación, imagen, y
                RRPP.
    
    
                Planning estratégico
                Nuestro equipo de expertos de la industria trabajan con los artistas para crear estrategias de lanzamiento,
                asegurándose de que su música llega a la gente que más le gustará.
    
                Consideración en playlists
                Tenemos una relación cercana con la gente adecuada en los sitios adecuados, y hablamos con ellos con
                regularidad para presentar nuestras canciones.
    
    
                Branding de artistas
                Ya tienes la música. Ahora solo falta que tu imagen, portadas, fotos y cobertura mediática sean los mejores.
    
    
    
                Marketing digital
                Creamos campañas que generan conversación sobre tu música, incluyendo marketing digital, redes sociales y
                colaboraciones.
    
    
                Conexiones de radio
                No es fácil conseguir que tu música suene en la radio, pero es posible con nuestra ayuda (¡y nuestras
                conexiones!).
    
    
                RRPP para artistas
                Nuestro equipo de RRPP trabaja con los artistas para que puedan compartir su historia con el mundo.
    
    
                En TuMusica creemos que los artistas deben mantener el control de su música. Por eso solo ofrecemos acuerdos
                que respetan al artista. Una vez finalizado el periodo del acuerdo, el artista recupera la propiedad total
                de su música.</p>
    
        </div>
    </div>
    <div class="mision d-flex">
        <div class="texto">
            <h2>NUESTRA MISION</h2>
            <p>Misión
    
                Estar en la vanguardia de los medios digitales, web TV, audio y video streaming, herramientas, funciones y
                aplicaciones y otras novedades tecnológicas en materia de medios y distribución de contenidos en la era
                digital,
                en los albores del milenio.
    
                Difundir artistas y música de todos los géneros en todo el mundo. Somos una empresa global desde 2012 con un
                fuerte posicionamiento en el mercado discográfico y de medios de música.
    
                Proteger, respetar y hacer respetar las culturas, los valores, tradiciones y costumbres, tanto como los
                derechos
                de autor y la propiedad intelectual de los músicos, artistas, autores, compositores y creadores en general,
                y
                sus fuentes de ingresos, y en este sentido combatir la piratería, y las actividades delictivas que
                infringen,
                violan, vulneran derechos y propiedad intelectual y provocan pérdidas enormes.</p>
        </div>
    
        <img src="../../../../assets/img/mision.png" alt="mision">
    </div>
    <div class="vision d-flex">
        <img src="../../../../assets/img/vision.png" alt="">
        <div class="texto">
            <h2>NUESTRA VISION</h2>
            <p>Visión
    
                Fomentar la industria musical. Proveer la infraestructura, inversión y servicios necesarios para que sea
                innovadora, fuerte y auto sustentable.
    
                Brindar a los artistas los servicios y herramientas indispensables para la promoción, difusión, creación,
                fabricación, diseño, distribución, comercialización y venta de música a nivel nacional e internacional, como
                así también a las empresas y proveedores del sector discográfico independiente.
    
                Ser innovadores y tecnológicamente estar siempre en la vanguardia de la industria musical.
    
                Contribuir, cooperar, colaborar y aportar en las decisiones, acciones y políticas, con los artistas,
                empresas, organizaciones e instituciones, del sector privado y público, nacionales e internacionales.</p>
    
        </div>
    </div>
</div>