<!-- Image and text -->
<nav id="navbar" class="navbar navbar-dark bg-black">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/logo.png" class="d-inline-block align-top" alt="">
    </a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" (click)="toInicio()" routerLink="/app" routerLinkActives="active">Inicio</a>
      <a class="nav-item nav-link" (click)="toAboutUs()" routerLinkActives="active">Sobre Nosotros</a>
      <a class="nav-item nav-link" (click)="toNuestrosArtistas()" routerLinkActives="active">Nuestros Artistas</a>
      <a class="nav-item nav-link" (click)="toGenerosMusicales()" routerLinkActives="active">Generos Musicales</a>
    </div>
  </nav>