<div class="body">
  <section id="inicio">
    <app-navbar></app-navbar>
    <app-banner></app-banner>
  </section>
  <section id="about-us" class="mt-10">
    <app-nosotros></app-nosotros>
    <app-mision></app-mision>
    <app-vision></app-vision>
  </section>
  <section id="nuestros-artistas">
    <app-nuestros-artistas></app-nuestros-artistas>
  </section>
  <section id="generos-musicales" class="mt-10">
    <app-generos-musicales></app-generos-musicales>
  </section>
  <app-footer></app-footer>
</div>